table {
    width: 80%;    
    text-align: left;
}
table, th, td, tbody{
    border: 1px solid black;
    border-collapse: collapse;
    height: 2em;
}

thead {
    background-color:lightgrey;
    padding: .25em;
}

body{
    background-color: aqua;
}

td{
    background-color: white;
   
}

